 .home_banner .redtruck_caption {
    position: absolute;
    /*    bottom: calc(160px + (230 - 160) * ((100vw - 1280px) / (1920 - 1280)));*/
    /*    bottom: 230px;*/
    bottom: 15%;
    width: 100%;
}

.home_banner .carousel_content h2 {
    text-align: left;
    /*    font-size: 80px;*/
    font-size: calc(16px + (80 - 16) * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    color: #fff;
    line-height: calc(20px + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
    /*    line-height: 110px;*/
}

.home_banner .carousel_content p {
    text-align: left;
    color: #fff;
    margin-top: calc(5px + (20 - 5) * ((100vw - 320px) / (1920 - 320)));
}

.home_banner .carousel-indicators li {
    background-color: rgb(255, 255, 255);
    opacity: 0.102;
    width: 64px;
    height: 10px;
    -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    -moz-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.home_banner .carousel-indicators li.active {
    background-color: rgb(242 1 5);
    opacity: 1;
}

.home_banner .carousel-indicators {
    margin-bottom: 50px;
}

.banner3-truck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 125px;
}

.banner3-rightimg1 {
    position: absolute;
    top: -130px;
    left: -140px;
    width: 100%;
}

.banner3-rightimg2 {
    position: relative;
    left: -40px;
    top: -10px;
}

.carousel_cowan {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -70px;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 130px;
}

.carousel_cowan img {
    width: calc(25px + (100 - 25) * ((100vw - 320px) / (1920 - 320)));
    /*    width: 100px;*/
}

.banner1-rightimg1 h5 {
    font-size: 48px;
    color: #fff;
    top: 120px;
    position: absolute;
    right: 70px;
    font-family: Anton;
    line-height: 80px;
    text-transform: uppercase;
}

/*About us*/
section.home_aboutus {
    /*    padding-top: 120px;*/
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.home_aboutus_part2 {
    padding-top: calc(50px + (80 - 50) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.aboutus_uppart h4 {
    text-transform: uppercase;
    color: #f20003;
    font-weight: 700;
    font-size: 24px;
}

.aboutus_uppart img {
    width: 40px;
    margin-bottom: 20px;
}

.aboutus_content {
    margin-right: 10px;
}

.aboutus_video {
    position: relative;
    /*    height: calc(208px + (400 - 208) * ((100vw - 320px) / (1920 - 320)));*/
    height: 400px;
}

.aboutus_video:before {
    position: absolute;
    background-color: #00000082;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: none;
}

.hmabvideo {
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    object-fit: cover;
}

.aboutus_video .playpause {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    cursor: pointer;
    display: none !important;
}

/*Service*/
.home_services {
    padding-top: calc(60px + (100 - 60) * ((100vw - 1280px) / (1920 - 1280)));
    padding-bottom: calc(90px + (120 - 90) * ((100vw - 1280px) / (1920 - 1280)));
    position: relative;
    overflow: hidden;
}

.faded_heading {
    font-size: 350px;
    font-weight: 700;
    color: #000;
    opacity: .03;
    position: absolute;
    right: -90px;
    bottom: -10px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: default;
}

.services_list {
    position: relative;
    left: -20px;
}

.services_list .col-md-3 {
    padding-left: 8px;
    padding-right: 8px;
}

.service_content h2 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    /*    font-size: 56px;*/
    font-size: calc(46px + (56 - 46) * ((100vw - 1280px) / (1920 - 1280)));
    color: #000;
    margin-bottom: 20px;
}

.aboutus_category p {
    /*    line-height: 30px;*/
    /*    font-size: 16px;*/
}

.aboutus_uppart {
    margin-bottom: 20px;
}

.service_content h2:before {
    position: absolute;
    width: 80px;
    height: 10px;
    background-color: #f20003;
    content: "";
    right: 115%;
    top: 20%;
    margin-left: 20px;
    color: #000;
}



.fade_background {
    background-color: #f3f3f3;
    width: 68%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section.home_services .service_content {
    margin-left: 100px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.red_service {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(255, 0, 0);
    -webkit-box-shadow: 0px 37px 40px 0px rgba(253, 151, 155, 0.94);
    box-shadow: 0px 37px 40px 0px rgba(253, 151, 155, 0.94);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 3;
    position: relative;
}

.red_service:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.red_service img {
    width: 55px;
    margin-bottom: 15px;
    height: 55px;
}

.red_service h4 {
    color: #fff;
    font-size: calc(18px + (20 - 18) * ((100vw - 1280px) / (1920 - 1280)));
}


/*Partner*/
.home_partner {
    padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    background-color: #000;
}

section.home_partner {
    background-repeat: no-repeat;
    background-position: center 130%;

}

.home-testimonial .slick-slide {
    margin-right: 20px;
}

.home-testimonial.slick-list {
    margin-right: -20px;
}

.testi-info img {
    width: 70px;
    border-radius: 50%;
}

.testi-cont {
    background-color: #ffffff;
    padding: 30px;
    /*    height: calc(220px + (240 - 220) * ((100vw - 1280px) / (1920 - 1280)));*/
    min-height: 200px;
    height: 200px;
    border-radius: 6px;
}

.align-center svg{position: relative; transform: rotate(-180deg);}

.slide-testimonial .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #f20105;
    background-color: rgb(242 1 5);
}

.testi-owinfo p {
    color: #fff;
}

.slide-testimonial p {
    color: #000;
}

.home-testimonial .testi-arrow-left,
.home-testimonial .testi-arrow-right {
    position: absolute;
    right: 20px;
    top: -70px;
    cursor: pointer;
}

.home-testimonial .testi-arrow-left {
    right: 90px;
}

.home-testimonial .slick-arrow i {
    color: #fff;
    background-color: #f20105;
    padding: 10px 20px;
    font-size: 25px;
}

section.home_happyclient {
    padding: 30px 0px 30px;
    /*    background-color: #f7f7f7;*/
    border-top: 1px solid #f7f7f7;
}

.slide-happyclient {
    margin-right: 35px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-happclient .testi-arrow-left,
.home-happclient .testi-arrow-right {
    position: absolute;
    right: 20px;
    top: -70px;
    cursor: pointer;
}

.home-happclient .testi-arrow-left {
    right: 90px;
}

.home-happclient .slick-arrow i {
    color: #fff;
    background-color: #f20105;
    padding: 10px 20px;
    font-size: 25px;
}


/*Resources*/
section.home_resources {
    /*    padding: 80px 0px;*/
    padding-top: calc(60px + (80 - 60) * ((100vw - 1280px) / (1920 - 1280)));
    padding-bottom: calc(30px + (40 - 30) * ((100vw - 1280px) / (1920 - 1280)));
}

.resource_blog_head {
    margin-bottom: 30px;
}

.resblog_content {
    padding: 30px;
}

.box img {
    height: 200px;
    width: 100%;
}

.box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    margin-right: 20px;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-top: 7px solid #f20105;
    border-radius: 5px;
    height: 470px;
    position: relative;
    /*    margin: 5px 15px;*/
    /*    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);*/
    outline: none;

}

.box:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 6%;
    flex: 1 1 6%;
}

.box:last-child {
    margin-right: 0;
}

.box:hover a {
    background-color: #f20105;
}

.resource_blog_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.resblog_content h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resource_blog_slider span.slick-arrow {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 43px;
    position: absolute;
    bottom: -90px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.resource_blog_slider span.slick-arrow:hover {
    background-color: #f20105;
}

.resource_blog_slider span.prevs_arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 15px
}

.resource_blog_slider span.nxt_arrow {
    left: 80px;
}

.resource_blog_slider span.slick-arrow img {
    width: 25px;
}

.resblog_content p {
    color: rgb(0 0 0 / .3);
    font-size: 16px;
}

.resblog_content a.blog_link {
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    position: absolute;
    right: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 20px;
    outline: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.resblog_content a:hover {
    background-color: #f20108;
}

.resblog_content a img {
    width: 20px;
}

/*
.resource_blog_foot .progress-bar {
    background-color: #f20105;
    position: relative;
}

.progress_cus {
    width: 100%;
    height: 10px;
    background-color: #E5E5E5;
    margin-top: 55px;
}

.progress-bar-cus {
    background-color: #f20105;
    height: 10px;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.progress-bar-cus span {
    position: absolute;
    right: -10px;
    background-color: #f20105;
    line-height: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.progress-bar-cus span i {
    color: #fff;
    transform: rotate(90deg);
}
*/



/*
.progress {
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #f20105, #f20105);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
}

span.slider_label {
    position: absolute;
    right: -10px;
    background-color: #f20105;
    line-height: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

span.slider_label i {
    color: #fff;
    transform: rotate(90deg);
}
*/





.carousel_image2 {
    position: relative;
    margin-left: 0%;
    margin-right: 23%;
    margin-bottom: -5%;
    /*
    margin-left: 15%;
    margin-right: 35%;
*/

}

.carousel_content {
    position: absolute;
    margin-left: 29%;
    bottom: 50px;
}

.carousel_image1 {
    position: relative;
    top: -180px;
}

.banner1-rightimg1 {
    position: absolute;
    top: 100px;
}

.banner1-rightimg2 {
    position: relative;
    top: 185px;
    left: -90px;
}

.slide-happyclient img {
    max-width: 80%;
}


.carousel_image1 img{-webkit-image-orientation: none; -moz-image-orientation: none;
    -ms-image-orientation: none; image-orientation: none;
image-orientation: from-image;}


.form-control{-webkit-appearance: none; -moz-appearance: none;
    -ms-appearance: none; -o-appearance: none; appearance: none;}

 .redcarrer-form .file-uploader input[type=file]{display: none;}

/*Media Query*/

@media(max-width:1980px) {
    .faded_heading{right: 100px;}
    .reddriver-points .reddrivepoint-list p{padding: 0 20px;}
    .blog-box p{min-height: 100px;}
    .saferght-faded{top: 2px !important;}


}

/*Large devices (desktops, less than 1700px)*/
@media(max-width:1700px) {
    .carousel_image1 {
        top: -150px;
    }

    .banner1-rightimg2 {
        top: 175px;
        left: -120px;
        width: 70%
    }

    .banner3-rightimg1 {
        top: -90px;
        left: -127px;
    }

    .carousel_cowan {
        right: 100px;
        bottom: -80px;
    }

    section.home_partner {
        background-repeat: no-repeat;
        background-position: center 140%;
    }

    .banner1-rightimg1 h5 {
        top: 80px;
    }
}

/*Large devices (desktops, less than 1600px)*/
@media(max-width:1620px) {
    .banner1-rightimg2 {
        width: 65%;
    }

    .carousel_image1 {
        top: -180px;
    }

    .carousel_cowan {
        bottom: -120px;
        right: 130px;
    }

}

/*Large devices (desktops, less than 1500px)*/
@media(max-width:1550px) {
    .carousel_image1 {
        top: -170px;
    }

    .banner3-rightimg1 {
        top: -70px;
        left: -120px;
    }

}

/*Large devices (desktops, less than 1400px)*/
@media(max-width:1450px) {
    section.home_services .service_content {
        margin-left: 90px;
        width: 75%;
    }

    .carousel_image1 {
        top: -140px;
    }

    .carousel_cowan {
        bottom: -90px;
        right: 60px;
    }

    section.home_partner {
        background-position: center 145%;
    }

    .banner1-rightimg2 {
        width: 70%;
        left: -100px;
    }

    .carousel_content {
        margin-left: 25%;
    }

    .banner1-rightimg1 h5 {
        top: 80px;
        line-height: 60px;
        font-size: 40px;
    }

    .faded_heading {
        font-size: 330px;
    }
}

/*Large devices (desktops, less than 1380px)*/
@media(max-width:1380px) {
    section.home_services .service_content {
        margin-left: 85px;
    }

    .faded_heading{right: 0;}
}

/*Large devices (desktops, less than 1300px)*/
@media(max-width:1300px) {
    section.home_partner {
        background-position: center 150%;
    }

    .banner1-rightimg1 h5 {
        top: 80px;
        line-height: 55px;
        font-size: 38px;
        right: 55px;
    }

    .carousel_image1 {
        top: -160px;
    }

    .banner1-rightimg1 {
        top: 130px;
    }

    .carousel_cowan {
        bottom: -125px;
        right: 60px;
    }

    .faded_heading {
        font-size:270px;
        bottom: 10px;
    }

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .home_banner .carousel-indicators {
        margin-bottom: 10px;
    }

    .carousel_cowan {
        bottom: -165px;
        right: 30px;
    }

    .carousel_content {
        margin-left: 15%;
        bottom: 20px;
    }

    .banner3-truck {
        top: 65px;
    }

    .banner1-rightimg2 {
        width: 65%;
        left: -70px;
    }

    .banner3-rightimg1{left: -78px;}

    .box {
        height: 550px;
    }

    .aboutus_video {
        height: 335px;
    }

    .box {
        margin-bottom: 50px;
    }

    .aboutus_content a.redbutton {
        margin-top: 5px;
    }

    .resource_blog_viewall .redbutton,
    .carousel_content .redbutton {
        margin-top: 0;
    }

    .blog-box .blog_content h5{font-size: 15px;}

}


/*Medium devices (tablets, less than 1023px)*/
@media (max-width: 1024px) {
    .safety-content{padding: 15px 5px;}
    section.blog_featured{min-height: inherit !important; padding-bottom: 40px !important;}
    
}


/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .faded-background-safety {
        display: none;
    }

    .service_content h2 br {
        display: none;
    }

    section.home_services .service_content {
        margin-left: 0;
        width: 100%;
    }

    .service_content h2:before {
        right: auto;
        left: 100%;
        top: 30%;
    }

    .red_service {
        min-height: 160px;
    }

    .services_list {
        left: 0;
        margin-top: 20px;
    }

    .faded_heading {
        font-size: 150px;
        bottom: 130px;
        right: 100px;
    }

    .box img {
        /*        width: auto;*/
        height: auto;
    }

    .resource_blog_box {
        display: block;
    }

    .home_banner .carousel_content p br {
        display: none;
    }

    .banner1-rightimg1 {
        top: 140px;
        width: 90%;
        right: 0;
    }

    .banner1-rightimg2 {
        width: 60%;
        left: -15px;
    }

    .carousel_image1 {
        top: -180px;
    }

    .home_banner .carousel_content p {
        line-height: 20px;
        margin-bottom: 20px;
    }

    .home_banner .carousel_content h2 {
        line-height: 38px;
    }

    .carousel_content {
        bottom: 5px;
    }

    .banner3-rightimg1 {
        top: -35px;
        left: -53px;
    }

    .home_banner .carousel-indicators li {
        width: 35px;
        height: 6px;
    }

    .aboutus_video {
        height: 235px;
    }

    .box{margin-right: 0; height: auto;}

    .safety-content{padding:0;}

    .safety-content{margin-top: 0;}
    .blog-box p{min-height: inherit;}
    .featured_blog_box .col-md-4:last-child .blog-box{margin-bottom: 0 !important;}
    

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .banner1-rightimg2 {

        left: -15px;
    }

    .carousel_content {
        bottom: 10px;
    }

    .carousel_content .redbutton {
        padding: 10px;
        font-size: 12px;
    }

    .home_banner .carousel_content h2 {
        line-height: 32px;
    }

    .carousel_image2 {
        margin-bottom: 0%;
    }

    .carousel_image3 {
        margin-bottom: 15px;
    }

    .carousel_cowan {
        right: 15px;
        bottom: -175px;
    }

    .banner1-rightimg1 {
        top: 150px;
    }

    .carousel_cowan h6 {
        margin-right: 8px !important;
        font-size: 12px;
        margin-top: 5px;
    }

    .banner3-truck {
        top: 45px;
    }

    .banner3-rightimg1 {
        left: -42px;
    }

    .carousel_content.caro-cont2,
    .carousel_content.caro-cont3 {
        bottom: 25px;
    }

    div#navbarSupportedContent {
        position: absolute;
        width: 100%;
        top: 100%;
    }

    header.redhome_header {
        position: -webkit-sticky;
        position: sticky;
        background-color: #000;
    }

    .home-testimonial .slick-slide {
        margin-right: 0px;
    }

    .aboutus_content {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .aboutus_video {
        height: 365px;
    }

    
    .whatwedo-image{margin-bottom: 30px; padding: 0 36px;}
    .red_service{box-shadow: 0px 10px 50px 0px rgba(253, 151, 155, 0.63); margin-bottom: 28px;} 
    .safety-image { padding-right: 15px;  }
    .sustain-image{padding-left: 15px;}
    .redfamily-box{margin-bottom: 30px;}
    .redfamily-image img{width: 100%;}
    .aboutus-sustain .row .align-items-center{order: 2;}
    section.aboutus-redfamily{margin-top: 24px;}
   .aboutus-safety , .aboutus-sustain{padding: 0 40px;}
   .aboutus-sustain .sustain-content , .aboutus-safety .safety-content{margin: 30px 0;}
   .aboutus-safety .safety-content{padding-left: 15px;}
   .aboutus-ourmission .container , .aboutus-redfamily .container{max-width: 100%; padding: 0 50px;}
   .ourmission-content {padding: 0 6px;}

   .file-uploader input[type="file"]{display: none;}

   .getIntouch-content .col-md-4:last-child .getIntouch-contlist{margin-top: 1.5rem;}

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {


    .carousel_content .redbutton {
        padding: 8px;
        font-size: 10px;
    }

    .home_banner .carousel_content h2 {
        line-height: 20px;
        font-size: 18px;
    }


    .carousel_cowan h6 {
        margin-right: 5px !important;
        font-size: 8px;
    }

    .carousel_cowan {
        right: 10px;
        bottom: -180px;
    }

    .banner1-rightimg2 {
        left: -10px;
    }

    .banner3-rightimg2 {
        position: relative;
        left: -15px;
        top: -10px;
    }

    .banner3-rightimg1 {
        left: -40px;
        top: -25px;
    }

    .carousel_content.caro-cont2,
    .carousel_content.caro-cont3 {
        bottom: 10px;
    }

    .home_banner .carousel_content p {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 2px;
    }

    .home_banner .redtruck_caption {
        bottom: 20%;
    }

    .resblog_content {
        padding: 15px;
    }

    .box {
        height: 470px;
    }

    .box:last-child {
        margin-right: 20px;
    }

    .red_service {
        margin-bottom: 20px;
    }

    .testi-cont {
        padding: 10px 20px;
    }

    .aboutus_video {
        height: 275px;
    }

    .resblog_content a.blog_link{right: 0;}

    .whatwedo-image{ padding: 0;}
   .aboutus-safety , .aboutus-sustain{padding: 0;}
   .aboutus-sustain .sustain-content , .aboutus-safety .safety-content{margin: 30px 0;}
   .aboutus-ourmission .container , .aboutus-redfamily .container{ padding: 0 15px;}
   .ourmission-content {padding: 0 6px;}
   .redfamily-teamname h6{font-size: 22px;}


}

@media (max-width: 375.98px) {
    .carousel_content {
        margin-left: 10%;
    }

    .carousel_content .redbutton {
        padding: 4px 6px;
        font-size: 8px;
    }

    .carousel_content.caro-cont2,
    .carousel_content.caro-cont3 {
        bottom: 15px;
    }

    .carousel_cowan h6 {
        margin-right: 2px !important;
        font-size: 5px;
    }

    .banner3-truck {
        top: 30px;
    }

    .banner3-rightimg1 {
        left: -30px;
        top: -25px;
    }

    .aboutus_video {
        height: 245px;
    }


}

@media (max-width: 320.98px) {
    .home_banner .carousel-indicators {
        margin-bottom: 0px;
    }

    .home_banner .redtruck_caption {
        bottom: 15%;
    }

    .carousel_content.caro-cont1 {
        bottom: 5px;
    }

    .home_banner .carousel-indicators li {
        width: 25px;
        height: 4px;
    }

    .aboutus_video {
        height: 210px;
    }
}
