.drivewithred-content p:last-child {
    color: #f20105;
    font-weight: 600;
    font-size: 20px;
}

.drivered-img img {
    border-radius: 10px;
}

.drivered-img,
.drivered-content {
    padding-top: 30px;
}

.drivewithred-content .redbutton {
    margin-top: 10px;
    margin-bottom: 20px;
}

.drivered-img:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 95px;
    background-color: #f20105;
    left: 41px;
    top: 0px;
}

.drivered-imgno {
    background-color: #f20105;
    color: #fff;
    float: right;
    font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1920 - 320)));
    /*    font-size: 60px;*/
    font-family: 'Anton';
    border-radius: 10px;
    width: calc(110px + (140 - 110) * ((100vw - 1280px) / (1920 - 1280)));
    height: calc(100px + (140 - 100) * ((100vw - 1280px) / (1920 - 1280)));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: calc((-70px) + ((-100) - (-70)) * ((100vw - 1280px) / (1920 - 1280)));
    right: 30px;
    line-height: 1;
    -webkit-box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);
    box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);

}

.drivered-content h4 {
    text-transform: uppercase;
    color: #f20003;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

ul.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    margin-top: 100px;
}

ul.slick-dots li {
    line-height: 0;
}

ul.slick-dots li button {
    font-size: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-clip: padding-box;
    border: none;
    background-color: rgb(0 0 0 / .1);
    width: 40px;
    height: 10px;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    -moz-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

ul.slick-dots li.slick-active button {
    background-color: rgb(242 1 5);
    opacity: 1;
    -webkit-box-shadow: 0px 37px 40px 0px rgba(253, 151, 155, 0.94);
    box-shadow: 0px 37px 40px 0px rgba(253, 151, 155, 0.94);
}

.reddriver-middpoint {
    background-color: #f20108;
    padding-bottom: calc(20px + (150 - 20) * ((100vw - 320px) / (1920 - 320)));
    padding-top: calc(20px + (150 - 20) * ((100vw - 320px) / (1920 - 320)));
    /*    padding: 150px 0px;*/
}

.reddrivepoint-list {
    background-color: #f20108;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 275px;

}

.reddrivepoint-list img {
    width: 60px;
}

.reddrivepoint-list h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.reddrivepoint-list img {
    margin-bottom: 20px;
}

.reddrivepoint-list p {
    color: #fff;
}


.reddriver-points .row {
    margin-left: 0;
    margin-right: 0;
}

.reddriver-points .col-md-4 {
    padding-left: 0px;
    padding-right: 0;
    border-right: 1px solid rgb(255 255 255 / 40%);
    border-bottom: 1px solid rgb(255 255 255 / 40%)
}

.reddriver-points .col-md-4:nth-child(3n) {
    border-right: 0px;
}

.reddriver-points .col-md-4:nth-last-of-type(1),
.reddriver-points .col-md-4:nth-last-of-type(2),
.reddriver-points .col-md-4:nth-last-of-type(3) {
    border-bottom: 0px;
}

section.reddriver-carrer {
    padding-bottom: calc(50px + (70 - 50) * ((100vw - 1280px) / (1920 - 1280)));
}

.redcarrer-form {
    /*    padding-top: 110px;*/
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));

}

.redcarrer-content {
    height: 100%;
    background-color: #000;
    padding: 100px 50px;
    position: relative;
    margin-top: -40px;
    width: 90%;
    margin-right: auto;
    -webkit-box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 16px 0px rgba(0, 0, 0, 0.4);
}

.redcarrer-content p {
    color: #fff;
}

.redcarrer-content h2 {
    color: #fff;
}

.redcarrer-content ul {
    padding-left: 20px;
    margin-top: calc(120px + (180 - 120) * ((100vw - 1280px) / (1920 - 1280)));
}

.redcarrer-content ul li {
    font-size: 16px;
    list-style: disc;
    color: #fff;
    margin-bottom: 20px;
}

.redcarrer-content ul li:last-child {
    margin-bottom: 0;
}

.file-uploader {
    position: relative;
    overflow: hidden;

}

.file-uploader input[type=file]:focus {
    outline: none;
    border: none;
}

.file-uploader i {
    position: absolute;
    font-size: 40px;
    left: -15px;
    top: 16px;
    color: #646464;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.file-uploader label {
    padding: 16px 0px 20px;
    border: 1px solid #ECECEC;
    height: 65px;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 0;
    width: 270px;
    color: rgb(0 0 0 / .7);
}

.file-uploader input[type=file] {
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    text-indent: -210px;
    left: 0px;
    color: rgb(0 0 0 / .7);
    z-index: 3;
    height: 65px;
    padding-top: 30px;
    width: 295px;
    top:-10px;
}

/*RED trcking Validation*/

.redcarrer-form .form-group label.error {
    position: absolute;
    font-size: 12px;
    color: #f2010b;
}

/* .sgle_blogcont p{color: rgb(0 0 0 / .6);} */

@media(max-width:1199px) {
    ul.slick-dots {
        margin-top: 20px;
    }
}

@media(max-width:991px) {
    ul.slick-dots {
        margin-top: -20px;
    }

    .redcarrer-content {
        padding: 100px 30px;
    }

    .redcarrer-content {
        width: 100%;
    }
}

@media(max-width:767px) {
    .reddriver-points .col-md-4:nth-child(2n) {
        border-right: 0px;
        border-bottom: 1px solid rgb(255 255 255 / 40%);
    }

    .reddriver-points .col-md-4:nth-child(3n) {
        border-right: 1px solid rgb(255 255 255 / 40%);
    }

    .reddriver-points .col-md-4:last-child {
        border-right: 0;
        border-bottom: 0;
    }

    .drivered-content {
        padding-top: 0;
    }

    section.drivwithred-slide ul.slick-dots {
        margin-top: 0px;
        margin-bottom: 30px;
    }

}

@media(max-width:576px) {
    .reddriver-points .col-md-4:nth-child(n) {
        border: 0px;
        border-bottom: 1px solid rgb(255 255 255 / 40%);
    }

    .drivered-imgno {
        -webkit-box-shadow: -2px 8px 25px 0px rgb(206 28 37 / .7);
        box-shadow: -2px 8px 25px 0px rgb(206 28 37 / .7);
    }

    .drivered-img:before {
        width: 12px;
        height: 60px;
    }

    .drivered-content h4 {
        margin-bottom: 10px;
    }

}
