/*Safety*/

section.safety-middle {
    background-color: #f20105;
    padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
    /*    padding: 62px 0px;*/
    max-width: 1720px;
    margin: auto;
    width: 100%;
}

.safeleft-img,
.safety-right {
    position: relative;
}

.safeleft-img:before {
    content: "";
    background-color: #f20108;
    position: absolute;
    right: -110px;
    width: 140px;
    height: 5px;
    top: 15px;
}

.saferght-faded {
    font-size: calc(120px + (322 - 120) * ((100vw - 768px) / (1920 - 768)));
    /*font-size: 322px;*/
    font-weight: 700;
    color: #000;
    opacity: .03;
    position: absolute;
    left: calc(40px + (90 - 40) * ((100vw - 768px) / (1920 - 768)));
    z-index: 1;
    top: calc(60px + (80 - 60) * ((100vw - 1280px) / (1920 - 1280)));
    /*top: 7px;*/
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: default;
    margin-bottom: 0;
}




/*Sustainability*/
.sustabiltyrgt-img img {
    margin-top: -30px;
}

section.sustainability-middle {
    position: relative;
    margin-top: 100px;
    padding: 30px 0px;
}

.sustainability-background {
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.sustainablity-faded {
    font-size: calc(140px + (200 - 140) * ((100vw - 1280px) / (1920 - 1280)));
    /*font-size: 200px;*/
    font-weight: 700;
    color: #fff;
    opacity: .04;
    position: absolute;
    left: 15px;
    z-index: 0;
    bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: default;
    margin-bottom: 0;
}

.sustabiltymdl-img img {}




/*Media Query*/



/*Large devices (desktops, less than 1700px)*/
@media(max-width:1700px) {}

/*Large devices (desktops, less than 1600px)*/
@media(max-width:1620px) {}

/*Large devices (desktops, less than 1500px)*/
@media(max-width:1550px) {}

/*Large devices (desktops, less than 1400px)*/
@media(max-width:1450px) {}

/*Large devices (desktops, less than 1380px)*/
@media(max-width:1380px) {}

@media(max-width:1300px) {}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .sustabiltyrgt-img img {
        margin-top: 30px;
    }
    .safeleft-img:before {
    top: 7px;
}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .safeleft-img:before {
        content: none;
    }

    .sustabiltyrgt-img img {
        margin-top: 60px;
    }

    section.sustainability-middle {
        margin-top: 20px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .saferght-faded {
        display: none;
    }

    .sustabiltyrgt-img img {
        margin-top: 20px;
    }

    .sustainablity-faded {
        display: none;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}
