/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

ul.service-folder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul.service-folder li a {
    background-color: transparent;
    color: #A3A3A3;
    padding: 20px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    height: 70px;
    width: 270px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

ul.service-folder li a.active {
    background-color: #f20105;
    color: #fff;
    -webkit-box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);
    box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);
}

li.service-list a.active:before {
    position: absolute;
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f20108;
    top: 100%;
    left: 40%;
}

ul.service-folder li a:hover {
    background-color: #f20105;
    color: #fff;
    -webkit-box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);
    box-shadow: 4px 16px 25px 0px rgb(206 28 37 / .7);
}

li.service-list {
    position: relative;
}

section.service-page {
    padding-bottom: calc(60px + (100 - 60) * ((100vw - 768px) / (1920 - 768)));
}

.service_logistics {
    padding: 0px 0px;
}

.service_listbox_middle {
    background-color: #FE0202;
    color: #fff;
    padding: 40px 20px;
    margin-bottom: 50px;
}

.service_listbox_content h4 {
    margin-bottom: 20px;
}

.service_listbox_content ul li {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service_listbox_content ul li:before {
    content: "\f111";
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    font-weight: 900;
    color: #fe0205;
    font-size: 10px;
}

ul.ser_translist {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

ul.serlst_cout_white {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

ul.serlst_cout_white li:before {
    color: #fff;
}


@media(max-width:1199px) {
    ul.service-folder li a {
        width: auto;
    }
}

@media(max-width:991px) {
    ul.service-folder li a {
        font-size: 18px;
        height: auto;
        padding: 10px 20px;
    }

    li.service-list a.active:before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #f20108;
    }

    .service_listbox_content h4 {
        margin-bottom: 10px;
    }
}

@media(max-width:767px) {
    ul.service-folder li a {
        font-size: 16px;
    }



    ul.serlst_cout_white,
    ul.ser_translist {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .service_listbox_content ul li:before {
        margin-top: 0;
    }
}

@media(max-width:576px) {
    ul.service-folder {
        display: block;
        text-align: center;
    }

    li.service-list a.active:before {
        content: none;
    }

    .service_listbox_middle {
        padding: 40px 0px;
    }
}
